<%- include ('../templates/header.ejs') %> <%- include ('../templates/navbar.ejs') %>

<div id="successModal" class="modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="card">
        <div class="card-header">
          <h3>Notifikasi</h3>
        </div>
        <div class="card-body">
          <div class="alert alert-success" role="alert">
            Data <%= data[0].product_id %> berhasil diupdate.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="failModal" class="modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="card">
        <div class="card-header">
          <h3>Notifikasi</h3>
        </div>
        <div class="card-body">
          <div class="alert alert-danger" role="alert">
            Data <%= data[0].product_id %> gagal diupdate.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Lumos Coffee Backoffice - Kupon</div>
        <div class="card-body">
          <h3>Insert Data</h3>
          <form action="" method="POST" id="updateForm">
            <div class="row">
              <div class="col-md-6">
                <label for="id">Membership ID: </label
                ><input
                  type="text"
                  id="id"
                  name="membership_id"
                  class="form-control"
                  placeholder="Membership ID"
                  disabled
                  value="<%= data[0].membership_id %>"
                />
              </div>
              <div class="col-md-6">
                <label for="nama_produk">Deskripsi: </label
                ><input
                  type="text"
                  name="deskripsi"
                  id="deskripsi"
                  class="form-control"
                  placeholder="Deskripsi"
                  value="<%= data[0].deskripsi %>"
                />
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-md-6">
                <label for="deskripsi">Minimum Poin: </label
                ><input
                  type="text"
                  name="minimum_poin"
                  id="minimum_poin"
                  class="form-control"
                  placeholder="Minimum Poin"
                  value="<%= data[0].minimum_poin %>"
                />
              </div>
              <div class="col-md-6">
                <label for="">Aksi: </label>
                <button class="btn btn-primary" style="width: 100%">Update</button>
                <div class="d-flex justify-content-center">
                  <div class="spinner-border mt-3" id="loading" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const loading = document.getElementById('loading');
  loading.style.visibility = 'hidden';

  const updateForm = document.querySelector('#updateForm');
  const jwt = document.cookie.split('=')[1];

  function readForm(element) {
    return document.forms['updateForm'].elements[element].value.trim();
  }

  updateForm.addEventListener('submit', (e) => {
    e.preventDefault();

    loading.style.visibility = 'visible';

    const id = readForm('id');
    const deskripsi = readForm('deskripsi');
    const minimum_poin = readForm('minimum_poin');

    const data = { deskripsi, minimum_poin };

    fetch(`http://localhost:8000/api/membership/update/${id}`, {
      headers: {
        Authorization: `Bearer ${jwt}`,
        'Content-Type': 'application/json',
      },
      method: 'PUT',
      body: JSON.stringify(data),
    })
      .then((res) => res.json())
      .then((res) => {
        if (res.msg && res.status === 200) {
          $('#successModal').modal('show');
          loading.style.visibility = 'hidden';
        } else {
          $('#failModal').modal('show');
          loading.style.visibility = 'hidden';
        }15 
      })
      .catch((err) => {
        $('#failModal').modal('show');
        loading.style.visibility = 'hidden';
        console.error(err);
      });

  });
</script>

<%- include ('../templates/footer.ejs') %>
