<%- include ('../templates/header.ejs') %> <%- include ('../templates/navbar.ejs') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Lumos Coffee Backoffice - Customer</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <select name="member" id="member" class="form-control">
                <option value="">Pilih Membership</option>
                <option value="Bronze">Bronze</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
              </select>
            </div>
          </div>
          <table class="table table-responsive-md mt-3">
            <thead>
              <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Nama Lengkap</th>
                <th scope="col">Email</th>
                <th scope="col">Membership</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((element, i) => { %>
              <tr>
                <td>
                  <a href="/customer/edit/<%= element.customer_id %> "
                    ><%= element.customer_id %></a
                  >
                </td>
                <td><%= element.nama %></td>
                <td><%= element.email %></td>
                <td><%= element.membership_id %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% if (pagination) { %>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" id="previous">Previous</a></li>
              <% for( let i = 1; i <= pagination; i++ ) { %>
              <li class="page-item">
                <% if (member == null) { %>
                <a class="page-link" href="/customer/view?page=<%= i %>"><%= i %></a>
                <% } %> <% if (member) { %>
                <a class="page-link" href="/customer/view?member=<%= member %>&page=<%= i %>"
                  ><%= i %></a
                >
                <% } %>
              </li>
              <% } %>
              <li class="page-item"><a class="page-link" href="#" id="next">Next</a></li>
            </ul>
          </nav>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const member = document.getElementById('member');
  const nextPage = document.getElementById('next');
  const prevPage = document.getElementById('previous');
  const URLparam = new URLSearchParams(window.location.search);
  const selectedPage = document.getElementsByClassName('page-item');
  let pageParam = URLparam.get('page');
  let memberParam = URLparam.get('member');

  if (pageParam < '<%= pagination %>') {
    if (memberParam) {
      nextPage.setAttribute(
        'href',
        `http://lumos-studio.me:7000/customer/view?member=${memberParam}&page=${parseInt(pageParam) + 1}`
      );
    } else {
      nextPage.setAttribute(
        'href',
        `http://lumos-studio.me:7000/customer/view?page=${parseInt(pageParam) + 1}`
      );
    }
  }

  if (pageParam > 1) {
    if (kategoriParam) {
      prevPage.setAttribute(
        'href',
        `http://lumos-studio.me:7000/customer/view?kategori=${memberParam}&page=${
          parseInt(pageParam) - 1
        }`
      );
    } else {
      prevPage.setAttribute(
        'href',
        `http://lumos-studio.me:7000/customer/view?page=${parseInt(pageParam) - 1}`
      );
    }
  }

  member.addEventListener('change', (e) => {
    window.location.href = `http://lumos-studio.me:7000/customer/view?member=${e.target.value}&page=1`;
  });

  if (pageParam) {
    selectedPage[pageParam].classList.add('active');
  } else if (pageParam === null) {
    selectedPage[1].classList.add('active');
  }
</script>

<%- include ('../templates/footer.ejs') %>
